@model Tamagochi.Models.Mascota

@{
    ViewData["Title"] = "Create";
}

<h1>Creá tu mascota</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            @if (!string.IsNullOrEmpty(TempData["Error"] as string))
            {
                <div class="alert alert-success" role="alert">
                    @TempData["Error"]
                </div>
            }
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NombreMascota" class="control-label">Nombre mascota:</label>
                <input asp-for="NombreMascota" class="form-control" />
                <span asp-validation-for="NombreMascota" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoDeMascota" class="control-label"></label>
                <select asp-for="TipoDeMascota" class="form-select form-select-lg mb-3 pet-select">
                    @foreach (var option in ViewBag.TipoDeMascotaOptions)
                    {
                        <option value="@option.Value">@option.Text</option>
                    }
                </select>
                <span asp-validation-for="TipoDeMascota" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-warning">Crear</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a tu lista de Mascotas</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
