@model Tamagochi.Models.Mascota


@{
    ViewData["Title"] = "Renombrar";
}

<h1>Cambiale el nombre a @Html.DisplayNameFor(model => model.NombreMascota)!</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Renombrar" asp-route-id="@Model.Id">
            @if (!string.IsNullOrEmpty(TempData["Error"] as string))
            {
                <div class="alert alert-success" role="alert">
                    @TempData["Error"]
                </div>
            }
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NombreMascota" class="control-label">Nombre nuevo para tu mascota:</label>
                <input asp-for="NombreMascota" class="form-control" />
                <span asp-validation-for="NombreMascota" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-warning">Cambiar nombre</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a lista de Mascotas</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
