@model IEnumerable<Tamagochi.Models.Estadistica>

@{
    ViewData["Title"] = "Tus Estadisticas";
}

<h1>Estadísticas</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Nombre Mascota
            </th>
            <th>
                Tiempo Hambriento
            </th>
            <th>
                Tiempo débil
            </th>
            <th>
                Tiempo Satisfecho
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)

        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MascotaTrackeada.NombreMascota)
                </td>
                <td>
                    @item.secsToTiempo(item.TiempoHambrento)
                </td>
                <td>
                    @item.secsToTiempo(item.TiempoDebil)
                </td>
                <td>
                    @item.secsToTiempo(item.TiempoSatisfecho)
                </td>
            </tr>
        }
    </tbody>
</table>