@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
<div class="row d-flex flex-column align-items-center justify-content-center text-center pet-main-container">
        <div class="pet-container pet-container-home col-lg-12  col-md-12">
            <div class="titles">
                    <h1>¡Bienvenidx a Tamagotchi App!</h1>
                    <h2>Crea tu mascota y empezá a  alimentarla</h2>
                    @if (!User.Identity.IsAuthenticated)
                    {
                    <button class="btn btn-warning home-btn mt-4">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Usuario" asp-action="Registrar">Registrarse</a>
                    </button>
                    <button class="btn btn-warning home-btn mt-4">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Usuario" asp-action="Login">Iniciar Sesión</a>
                    </button>
                    }
            </div>
        <img src="~/home_image.gif"/>
    </div>
</div>
</div>