@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex flex-column align-items-center justify-content-center text-center pet-main-container">
    <div class="pet-container">
        <h2> ¡Bienvenidx a Tamagotchi App!</h2>
    </div>
</div>
